extends ../layouts/main

block content

  +b.page--compensation
    +e.row
      +b.banner--compensation
        .container
          +e.content
            +e.title Claim your compensation
            +e.description Have you been waiting for your flight for more than 3 hours? You have right to claim, you only need to fill the form and we will get the best compensation for you.

          +e.img-percent
            img(src="assets/images/percent-claim.png", alt="")
