extends ../layouts/main
include ../blocks/banners/banner-1
include ../blocks/banners/banner-2
include ../blocks/hero/hero
include ../blocks/sections/section-options
include ../blocks/sections/section-work
include ../blocks/sections/section-faq
include ../blocks/sections/section-price
include ../blocks/sections/section-complete

block content

  +b.page--main
    +e.row
      +hero()

    +e.row
      +section-work()

    +e.row
      +banner-1()

    +e.row
      +section-options()

    +e.row
      +section-faq()

    +e.row
      +section-price()

    +e.row
      +section-complete()

    +e.row
      +banner-2()
