mixin section-complete()
  +b.section--gray
    .container
      +b.complete-block
        +e.left
          +e.img
            img(src="assets/images/phone-img.png")
        +e.right
          +e.title Why claim with Airning?
          +e.description Claiming with Airning is easy and fast! Fill in the form, upload the documentation and that's it! We'll work hard to get your compensation and we will inform you at all times of the process.
          +e.btn-wrap
            +b.BUTTON.btn--large
              span complete your claim
