mixin section-price()
  +b.section--price
    .container
      +b.price-block
        +e.title How do we win your flight compensation?
        +e.subtitle If you have suffered a flight delay or cancellation during your vacation, weekend getaway or business trip, we can locate your flight number on our platform and know immediately if you are entitled to a compensation of up to 600€ depending on the type of incident and distance.
        +e.list
          +b.list-price
            +e.item
              +b.price-card
                +e.content
                  +e.title.negative Cencelado
                  +e.date 20 Julio
                  +e.value
                    +e.main-value FR 4352
                    +e.hr
                    +e.second-value IBZ - MAD

            +e.item
              +b.price-card
                +e.content
                  +e.title.warn restrasado
                  +e.date 12 Septembre
                  +e.value
                    +e.main-value U2 3456
                    +e.hr
                    +e.second-value mxp - bcn

            +e.item
              +b.price-card
                +e.content
                  +e.title.accent overbooking
                  +e.date 20 Julio
                  +e.value
                    +e.main-value IB 4352
                    +e.hr
                    +e.second-value MAD - TFS
