mixin section-options()
  +b.section--options
    .container
      +e.title Why Airning is the best option?
      +e.row--options
        +b.list-options
          +e.item
            +b.option
              +e.icon
                img(src="assets/images/world.svg")
              +e.text We monitor all flights with incidents in real time so we can help you from the first moment

          +e.item
            +b.option
              +e.icon
                img(src="assets/images/manager.svg")
              +e.text Our experts in passenger rights will handle your claim and solve your doubts

          +e.item
            +b.option
              +e.icon
                img(src="assets/images/plane-ticket.svg")
              +e.text We will contact your airline to get a fair compensation for each passenger

          +e.item
            +b.option
              +e.icon
                img(src="assets/images/wallet.svg")
              +e.text Claim does not have any cost. Only if we win, we discount 25 % + VAT of the amount
