mixin section-faq()
  +b.section--faq
    .container
      +b.faq
        +e.left
          +e.row
            +e.title FAQ
            +e.subtitle About the payment of compensation for delayed flight, overbooking or cancellation
          +e.row
            +e.description The law protects you! And Airning too. The European Union passed in 2004 the CE/261 Regulation to defend the rights of the passenger and Airning knows it very well. That's why, when you have a cancelled, delayed or overbooked flight, we are your ideal travel companion.
          +e.row--btn
            +b.BUTTON.btn--lg
              span your rights
        +e.right
          +e.img
            img(src="assets/images/faq-img.png", alt="")
