.dropdown
  position relative
  &.dropup
    position relative
    &__menu
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: 0.125rem;
  &__menu
    position absolute
    top 100%
    left 0
    z-index 100
    display none
    min-width 200px
    padding 0.5rem 0
    margin 0.125rem 0 0
    font-size 1rem
    float left
    color #000
    text-align: left
    list-style: none
    background-color: #fff
    background-clip: padding-box
    border: 1px solid rgba(0, 0, 0, 0.15)
    border-radius: 0.25rem
    &.show
      display block
  &__item
    display block
    width 100%
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    &:hover, &:focus
      color: #16181b;
      text-decoration: none;
      background-color: #f8f9fa
    &.active, &:active
      color: #fff;
      text-decoration: none;
      background-color: #007bff
    &.disabled, &:disabled
      color: #6c757d;
      background-color: transparent;

