mixin dropdown_components()
  +b.dropdown
    .btn.js-dropdown Главная
    +e.menu
      +e.A(href="#").item Первый пункт
      +e.A(href="#").item Второй пункт
      +e.A(href="#").item Третий пункт
      +e.A(href="#").item Четвертый пункт
