//color var
accent=#000
colorbtn=#fff
bgbtn = rgb(255,64,129)
//mixin font-family font-weight
font-family-bold = 'Montserrat-Bold', sans-serif
font-family-Xbold = 'Montserrat-ExtraBold', sans-serif
font-family-light = 'Montserrat-Light', sans-serif
font-family-med = 'Montserrat-Medium', sans-serif
font-family-reg = 'Montserrat-Regular', sans-serif
font-family-sembold = 'Montserrat-SemiBold', sans-serif

//max-width container
width-reg = 1120px

