.banner
  width 100%
  display flex
  align-items center
  justify-content center
  &__title
    font-family font-family-Xbold
    font-size 100px
    text-transform uppercase
    line-height 1

  &__description
    font-family font-family-Xbold
    font-size 32px
    text-transform uppercase
    margin-top 15px

  &__content
    text-align center
    padding-bottom 10px

  &--first
    background-image url('../images/banner-1.png')
    background-size cover
    background-repeat no-repeat
    background-position center
    min-height 400px
    color #fff
