.user-data
  padding 48px 0 43px
  background-color #f4f7fb

  .container
    display flex
    justify-content space-between
    align-items flex-end
    width 100%

  &__row
    display flex
    align-items flex-end

    & + &
      margin-top 25px

  &__title
    font-family font-family-Xbold
    font-size 26px
    line-height 19px
    text-transform uppercase

    & + .user-data__link
      margin-left 35px

  &__link
    font-family font-family-reg
    text-transform uppercase
    text-decoration underline
    color #2a8cff
    font-size 12px
    line-height 13px

    &:hover
      color #2a8cff
      text-decoration none

  &__item
    display flex
    align-items center

    & + &
      margin-left 70px

  &__icon
    margin-right 13px

  &__text
    font-family font-family-reg
    font-size 17px
    line-height 15px
