mixin banner-2()
  +b.banner--second
    .container
      +e.content
        +e.description Claim your compensation now, do not wait any longer!
        +e.btn-wrap
          +b.BUTTON.btn--lg.--reverse
            span CLAIM
